<div class="bg-white p-6 rounded shadow">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Downloads</h1>
    <%= link_to 'Add New', new_admin_download_path, class: 'bg-blue-500 text-white px-4 py-2 rounded' %>
  </div>

  <table class="min-w-full bg-white mt-4 border">
    <thead>
      <tr>
        <th class="py-2 px-4 border">Title</th>
        <th class="py-2 px-4 border">Shard</th>
        <th class="py-2 px-4 border">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @downloads.each do |download| %>
        <tr>
          <td class="py-2 px-4 border"><%= download.title %></td>
          <td class="py-2 px-4 border"><%= download.shard.name %></td>
          <td class="py-2 px-4 border"><%= download.created_at.strftime('%Y-%m-%d') %></td>
          <td class="py-2 px-4 border">
            <%= link_to 'Edit', edit_admin_download_path(download), class: 'text-blue-500 hover:underline' %> |
            <%= link_to 'Delete', admin_download_path(download), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-500 hover:underline' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
