<div class="lg:col-span-2 bg-white p-6 rounded shadow">
  <%= form_with model: [:admin, skill], local: true, data: { turbo: true }, html: { id: "skillForm" } do |form| %>
    
    <div class="mb-4">
      <%= form.label :name, "Name", class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= form.label :description, "Skill Description", class: "block text-sm font-medium text-gray-700" %>
      <%= form.rich_text_area :description, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= form.label :min_value, "Min Value", class: "block text-sm font-medium text-gray-700" %>
      <%= form.number_field :min_value, step: 0.01, min: 0, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= form.label :max_value, "Max Value", class: "block text-sm font-medium text-gray-700" %>
      <%= form.number_field :max_value, step: 0.01, min: 0, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= form.label :skill_difficulty_modifier, "Difficulty Modifier", class: "block text-sm font-medium text-gray-700" %>
      <%= form.number_field :skill_difficulty_modifier, step: 0.01, min: 0, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= form.label :gain_on_success, "Gain on Success?", class: "block text-sm font-medium text-gray-700" %>
      <%= form.check_box :gain_on_success %>
    </div>

    <div class="mb-4">
      <%= form.label :gain_on_failure, "Gain on Failure?", class: "block text-sm font-medium text-gray-700" %>
      <%= form.check_box :gain_on_failure %>
    </div>


    <div class="mb-4">
      <%= form.label :slug, "URL Slug", class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :slug, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= form.label :meta_description, "Meta Description", class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_area :meta_description, rows: 2, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= form.label :meta_keywords, "Meta Keywords", class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_area :meta_keywords, rows: 2, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm sm:text-sm" %>
    </div>



    <div class="mt-6">
      <%= form.submit "Save Skill", class: "bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700" %>
    </div>

  <% end %>
</div>
