
<div class="bg-white p-6 rounded shadow">

<%# app/views/admin/pending_actions/index.html.erb %>
<h1>Pending Approvals</h1>

<%# This line establishes the WebSocket connection %>
<%= turbo_stream_from "pending_actions" %>

<table class="admin-table">
  <thead>
    <tr>
      <th>User</th>
      <th>Action</th>
      <th>Details</th>
      <th>Decision</th>
    </tr>
  </thead>
  <tbody id="pending_actions_table_body">
    <% @actions.each do |action| %>
      <%= render partial: "admin/pending_actions/pending_action", locals: { action: action } %>
    <% end %>
  </tbody>
</table>

</div>


<div class="bg-white p-6 rounded shadow">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Bingo Games</h1>
    <%= link_to 'Add New', new_admin_bingo_game_path, class: 'bg-blue-500 text-white px-4 py-2 rounded' %>
  </div>

  <table class="min-w-full bg-white mt-4 border">
    <thead>
      <tr>
        <th class="py-2 px-4 border">Status</th>
        <th class="py-2 px-4 border">Players</th>
        <th class="py-2 px-4 border">Title</th>
        <th class="py-2 px-4 border">Host</th>
        <th class="py-2 px-4 border">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @bingo_games.each do |bingo_game| %>
        <tr>
                  <td class="py-2 px-4 border"><%= bingo_game.status %></td>
    <td class="py-2 px-4 border"><%= bingo_game.bingo_cards.count %></td>
          <td class="py-2 px-4 border"><%= bingo_game.title %></td>
      
          <td class="py-2 px-4 border"><%= bingo_game.host.first_name %></td>
          <td class="py-2 px-4 border"><%= bingo_game.created_at.strftime('%Y-%m-%d') %></td>
          <td class="py-2 px-4 border">
            <%= link_to 'Edit', edit_admin_bingo_game_path(bingo_game), class: 'text-blue-500 hover:underline' %> |
            <%= link_to 'Delete', admin_bingo_game_path(bingo_game), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-500 hover:underline' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
