<% content_for :head do %>
  <%= render "layouts/google_tag" %>
  <%= render "layouts/metadata" %>

  <%= favicon_link_tag favicon_url, rel: "shortcut icon" %>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag current_theme, "data-turbo-track": "reload" %>

  <%= javascript_importmap_tags %>

  <%= stylesheet_link_tag "https://unpkg.com/trix@2.1.1/dist/trix.css" %>

  <% if Setting.get("google_maps_api").present? %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Setting.get('google_maps_api') %>" async defer></script>
  <% end %>

<%= render_theme_partial "shared/fonts" %>
<%= render_theme_partial "shared/colors" %>

<% end %>


<%= render_theme_partial "shared/sidebar" %>
<%= render_theme_partial "shared/header" %>

<% content_for :layout do %>
  <main class="flex flex-grow">
    <%= yield %>
  </main>
<% end %>

<%= render_theme_partial "shared/footer" %>
